# Python 3.9
tensorflow==2.19.0
opencv-python==4.11.0.86
numpy==1.26.4
scikit-learn==1.6.1
matplotlib==3.9.4
h5py==3.13.0
pandas==2.2.3
absl-py==2.2.0
keras==3.9.0
protobuf==3.20.3
termcolor==2.5.0
scipy==1.13.1
seaborn==0.13.2
tqdm==4.67.1
